#navbar-main {
  input {
    width: 200px;
    transition: all 0.3s;
  }

  input:focus {
    width: 400px;
  }
}


//Media Queries

@media (max-width: 576px) {
  #navbar-main {
    input {
      width: 100%;
    }
  }
}
